{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}

{% block title %}
    Inventory - The Mila Store
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "inventory/inventory.css" %}">
{% endblock %}

{% block content %}
    <div class="sidebar">
        <h3 id="leyenda">Leyenda</h3>
        <ul id="figuras">
            {% for cut in cuts %}
                <li>
                    <span class="color-box" style="background-color: {{ cut.color }};"></span>
                   <h3 id="nombreley"> {{ cut.name }}</h3>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="divheladeras">
        {% for refrigerator in refrigerators %}
            <div class="conheladera">
                <h2 class="nombre">{{ refrigerator.name }}</h2>
                <div class="row">
                    {% for column_data in refrigerator.get_columns_tuppers %}
                        <ul class="column">
                            {% for tupper in column_data.tuppers %}
                                {% if tupper %}
                                    <li class="lis" style="background-color: {{ tupper.color }}">
                                        {{ tupper.name }}
                                    </li>
                                {% else %}
                                    <li class="lis" style="background-color: transparent; border: 1px dashed #cccccc; ">
                                        Empty
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="stock">
        <table class="stock-table">
            <thead>
            <tr>
                <th title="Tipo de corte">Corte</th>
                <th title="Cantidad total tuppers">Tuppers</th>
                <th title="Cantidad total milanesas">Milanesas</th>
            </tr>
            </thead>
            <tbody>
            {% for cut in cuts %}
                <tr>
                    <td>{{ cut.name }}</td>
                    <td>{{ cut.total_tuppers }}</td>
                    <td>{{ cut.total_milas }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
