{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}
    Inventory - The Mila Store
{% endblock %}

{% block css_files %}

{% endblock %}

{% block content %}
    <div id="refrigerators">
        <h1 class="display-3">Heladeras</h1>
        <div id="divheladeras">
            {% for refrigerator in refrigerators %}
                <div class="conheladera">
                    <h3 id="nombre">{{ refrigerator.name }}</h3>
                    <div class="row">
                        {% for column in refrigerator.column_set.all %}
                            <ul class="column ">
                                {% for subcolumn in column.subcolumn_set.all %}
                                    {% for tupper in subcolumn.total_tuppers|range_filter %}
                                        <li class="lis">{{ subcolumn.cut.name  }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="stock">
        <table class="stock-table">
            <thead>
                <tr>
                    <th>Type</th><th>Total Amount</th>
                </tr>
            </thead>

        </table>
    </div>
{% endblock %}