{% extends 'base.html' %}
{% load static %}

{% block title %}
    Orders - The Mila Store
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "inventory/orders.css" %}">
{% endblock %}

{% block content %}
    {% if messages %}
    <ul class="mensaje-lista">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% for order, form in forms %}
        <form method="POST" class="form-styled">
            {% csrf_token %}
            <h2>
                Orden de {{ order.cut.name }}
                ({{ order.tuppers_requested }} necesarias,
                {{ order.tuppers_remaining }} sin guardar)
            </h2>
            {{ form.as_p }}
            <input type="hidden" name="order_id" value="{{ order.id }}">
            <button type="submit">Guardar Tuppers</button>
        </form>
    {% endfor %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const refrigeratorSelects = document.querySelectorAll('select[id$="refrigerator"]');
            refrigeratorSelects.forEach(select => {
                select.addEventListener('change', function () {
                    const refrigeratorId = this.value;
                    const form = this.closest('form');
                    const columnSelect = form.querySelector('select[id$="column"]');

                    if (refrigeratorId) {
                        fetch(`/ajax/get-columns/?refrigerator_id=${refrigeratorId}`)
                            .then(response => response.json())
                            .then(data => {
                                columnSelect.innerHTML = '<option value="">Select Column</option>';
                                data.forEach((columnId, index) => {
                                    const option = document.createElement('option');
                                    option.value = index + 1;
                                    option.textContent = index + 1;  // Position number for display
                                    columnSelect.appendChild(option);
                                });
                            })
                            .catch(error => console.error('Error fetching columns:', error));
                    } else {
                        columnSelect.innerHTML = '<option value="">Select Column</option>';
                    }
                });
            });
        });
    </script>
{% endblock %}
