{% extends 'base.html' %}
{% load static %}

{% block title %}
    Sell Milas - The Mila Store
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'inventory/sell_milas.css' %}">
{% endblock %}

{% block content %}
    <h2>Sell Milas</h2>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sell</button>
    </form>
{% endblock %}

