<!DOCTYPE html>
{% load static %}


<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'inventory/refrigerators-styles.css' %}">
    </head>
<body>
    <div class="legend">
        <h3>Cut Legend</h3>
        <ul>
            {% for cut in cuts %}
                <li>
                    <span class="color-box" style="background-color: {{ cut.color }};"></span>
                    {{ cut.name }}
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="refrigerator-container">
        {% for refrigerator in refrigerators %}
            <div class="refrigerator">
                <h2>{{ refrigerator.name }}</h2>
                <div class="columns-container">
                    {% for column_data in refrigerator.get_columns_tuppers %}
                        <div class="column">
                            <h4>Column {{ forloop.counter }}</h4>
                                {% for tupper in column_data.tuppers %}
                                    <div class="tupper" style="background-color: {{ tupper.color }}">
                                        {{ tupper.name }}
                                    </div>
                                {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
