        body {
            padding: 0;
            margin: 0;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .display-3{
            width: 100%;
            font-size:40px;
            text-align: center;
            margin: 0;
        }
        .legend {
            margin: 20px 0;
            padding: 10px;
            background-color: #f1f1f1;
            border: 1px solid #ccc;
        }

        .legend ul {
            list-style: none;
            padding: 0;
        }

        .legend li {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
        }

            .color-box {
                display: flex;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                border: 1px solid #000;
            }

        #refrigerators{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        #divheladeras {
            width: 70%;
            display: flex;
            margin: 50px auto;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            gap: 40px;
            margin: 50px auto;
        }
        .row{
            display: flex;              
            flex-wrap: nowrap;          
            border: 2px solid black;
            border-top: none;
            border-radius: 15px;
            width: auto;
            align-items: flex-end;

        }
        .column{
            list-style-type: none;
            padding: 0;
            margin: 0px;
            display: flex;
            flex-direction: column;
            flex: 1;
        }
        .lis{
            display: flex;
            justify-content: center; 
            align-items: center;
            background-color: lightsalmon;
            border: 1px solid black;
            border-radius:7px;
            text-align: center;
            min-width: 100px;
            /* width: 8vh; */
        }
        .nombre{ /*NOMBRE H3*/
            text-align: center;
            margin: 10px 0;
            text-transform: uppercase;
        }
        .conheladera{
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;     
        }
        .sidebar {
            position: fixed;
            top: 60%;
            right: -150px;
            width: 200px;
            background-color: #4CAF50;
            color: white;
            transform: translateY(-50%);
            transition: right 0.3s ease;
            padding: 10px;
            border-radius: 5px 0 0 5px;
            overflow: hidden;
            white-space: nowrap;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            letter-spacing: -1px;
        }


        .sidebar:hover {
            right: 0;
        }
        .sidebar h3 {
            writing-mode: vertical-lr;
            text-orientation: upright;
            margin: 0;
            font-size: 20px;

        }
        dl, ol, ul { /*contenido side bar*/
            margin-top: 0;
            list-style-type: none;
        }
        #figuras {
            display: flex;
            align-content: space-around;
            flex-direction: column;
        }

        ul li {
            display: flex;
        }
        #nombreley{
            writing-mode: horizontal-tb;
            margin-left: 5px;

        }
        #leyenda{
            letter-spacing: -6px;
        }
        .stock-table{
            width: 100%;
            border-collapse: collapse;
            font-family: Arial, sans-serif;
            margin-top: 20px;
        }
        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
         background-color: brown;
            color: white;
            font-weight: bold;
        }

        table tr{
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #e8f2c1
;
        }

