{% extends "base.html" %}

{% block title %}Order - The Mila Store{% endblock %}

{% block content %}
<table>
    <thead>
        <tr><th>Type</th><th>Objective</th><th>Real</th><th>Needed</th></tr>
    </thead>
    <tbody>
        <tr><td>Milanesas</td><td>100</td><td>50</td><td>50</td></tr>
    </tbody>
</table>
<div class="buttons">
    <button>Save</button>
    <button>Export</button>
    <button onclick="location.href='home.html'">Back to Home</button>
    <button onclick="location.href='order_history.html'">Order History</button>
</div>
{% endblock %}