{% extends "base.html" %}

{% block title %}Order History - The Mila Store{% endblock %}

{% block content %}
<table>
    <thead>
        <tr><th>Type</th><th>Objective</th><th>Real</th><th>Needed</th><th>Date</th></tr>
    </thead>
    <tbody>
        <tr><td>Milanesas</td><td>100</td><td>50</td><td>50</td><td>2023-10-01</td></tr>
        <tr><td>Milanesas</td><td>120</td><td>60</td><td>60</td><td>2023-09-25</td></tr>
    </tbody>
</table>
<div class="buttons">
    <button onclick="location.href='order.html'">Back to Order</button>
</div>
{% endblock %}